<div>
    <h1>hi</h1>
    {{#allSigners}}
    {{#if url}}
    <h4><a href="{{url}}">{{first_name}} {{last_name}}</a> | | {{age}}</h4>
    {{/if}}
    {{#else}}
    <h2>{{first_name}} {{last_name}} {{age}}</h2>
    {{/else}}
    {{/allSigners}}
</div>