<div id="edit">
    <h1 class="title">Edit your profile</h1>
    <form class="container" action="/edit" method="POST">
        <div>
            <h1>First Name</h1>
            <input type="text" name="first_name" value="{{signer.first_name}}">
        </div>
        <div>
            <h1>Last Name</h1>
            <input type="text" name="last_name" value="{{signer.last_name}}">
        </div>
        <div>
            <h1>Email</h1>
            <input type="email" name="email" value="{{signer.email}}">
        </div>
        <div>
            <h1>Password</h1>
            <input type="password" name="password_hash">
        </div>
        <div>
            <h1>Age</h1>
            <input type="text" name="age" value="{{signer.age}}">
        </div>
        <div>
            <h1>City</h1>
            <input type="text" name="city" value="{{signer.city}}">
        </div>
        <div>
            <h1>Homepage</h1>
            <input type="text" name="url" value="{{signer.url}}">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="button-edit" class="button"><img src="/icons/paw-black.png" alt="">
            <h2 class="btnText">UPDATE</h2>
        </button>
    </form>
</div>